<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ratings</title>
</head>
<body>
    <h1>Surprise Test</h1>
    <h2>Movie Information</h2>
    <table>
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Title</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            {{ movies_html|safe }}
        </tbody>
    </table>

    <h2>Ratings Information</h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Movie ID</th>
                <th>Rating</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {{ ratings_html|safe }}
        </tbody>
    </table>
</body>
</html>
